<div style="margin: 50px;">
    <a href="/">Home</a>
</div>

<div>
    <button (click)="btnTeste1()">Teste 1</button>
    <!-- <button (click)="btnTeste2()">Teste 2</button> -->
</div>

<div>
    <input type="file" (change)="onFileSelected($event)" multiple>
    <button (click)="onEnviar()">Enviar</button>
</div>

<br /><br />
<div style="margin-left: 100px; max-width: 130px;">
    <!-- <div class="rdo_chat_generate">

        @for (item of valoresSelecionados; track $index) {
            <div class="rdo_chat {{valor_selecionado() === item ? 'selecionado' : ''}}" 
                id="rdo_chat_{{$index}}" (click)="valor_selecionado.set(item)">
                {{item}}
            </div>
        }

    </div> -->

    <app-tag-selection #tagSelection 
        [valoresSelecionados]="valoresSelecionados"
        [(valorSelecionado)]="valorSelecionado"
    ></app-tag-selection>
    <button (click)="btnTeste3()">Teste 3</button>
    <button (click)="btnClearTagSelection()">btnClearTagSelection</button>
</div>
<br /><br />

<app-chat-display #appchatdisplay></app-chat-display>
