@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdngovbr-ds.estaleiro.serpro.gov.br/design-system/fonts/rawline/css/rawline.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

body {
    font-family: 'Raleway', 'Rawline', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

input, select, textarea, button {
    font-family: 'Raleway', 'Rawline', sans-serif;
    outline: none;
}