<div class="upload-container">
    <div
        class="drop-area"
        (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)"
        (drop)="onDrop($event)"
        [class.highlight]="isDragging"
        (click)="fileInput.click()"
    >
        <p>Arraste e solte os arquivos aqui ou clique para selecionar</p>
        <input type="file" id="file-input" multiple style="display: none;" (change)="onFileSelect($event)" #fileInput>
    </div>

    <div class="buttons-container">
        <button class="upload-button" (click)="onUpload()" [disabled]="files.length === 0">Enviar Arquivos</button>
        <button class="clear-button" (click)="onClearFiles()" [disabled]="files.length === 0">Limpar Lista</button>
    </div>
</div>

<ul class="file-list">
    <li *ngFor="let file of files">{{ file.name }}</li>
</ul>