// ---------------------------------------------------
// upload arquivos
// ---------------------------------------------------

.upload-container {
    display: grid;
    grid-template-columns: 3fr 100px;
    gap: 5px;
    margin-bottom: 20px;

    .drop-area {
        border: 2px dashed #ccc;
        border-radius: 5px;
        padding: 50px;
        text-align: center;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        .highlight {
            border-color: green;
            background-color: #f0f7ff;
        }
    }

    .buttons-container {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .upload-button {
            padding: 15px 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            cursor: pointer;
            font-size: 15px;
            transition: background-color 0.3s ease;

            &:not(:disabled):hover {
                background-color: #ccc;
            }

            &:disabled {
                cursor: not-allowed;
                opacity: 0.7;
            }
        }

        .clear-button {
            padding: 10px 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
            background-color: white;
            color: #333;
            transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

            &:not(:disabled):hover {
                background-color: #f0f0f0;
                border-color: #999;
            }

            &:disabled {
                cursor: not-allowed;
                opacity: 0.7;
            }
        }

    }

}

.file-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;

    li {
        margin-bottom: 5px;
    }
}

// ---------------------------------------------------
// geral
// ---------------------------------------------------
.rdo_chat_generate {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size: .8rem;
    border: 1pt solid #86d993;
    border-radius: 2pt;
    cursor: pointer;

    .selecionado {
        background-color: #86d993;
        color: white;
    }

    div {
        flex: 1;
        padding: 4pt;
        overflow: hidden;
    }

}