// ---------------------------------------------------
// geral
// ---------------------------------------------------
$cor-green: #86d993;


.rdo_chat_generate {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size: .8rem;
    border: 1pt solid $cor-green;
    border-radius: 2pt;
    cursor: pointer;

    .selecionado {
        background-color: $cor-green;
        color: white;
    }

    div {
        flex: 1;
        padding: 4pt;
        overflow: hidden;
    }

}