$cor-green: #86d993;


.rdo_chat_generate {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size: .8rem;
    border: 1pt solid $cor-green;
    border-radius: 2pt;
    cursor: pointer;

    .selecionado {
        background-color: $cor-green;
        color: white;
    }

    div {
        flex: 1;
        padding: 4pt;
        overflow: hidden;
        border-collapse: collapse;

        &:not(:first-child) {
            border-left: 1px solid $cor-green;
        }
    }

    @media only screen and (min-width: 601px) and (max-width: 800px) {
        font-size: .7rem;
    }

    @media only screen and (max-width: 600px) {
        font-size: .8rem;
    }
}